
/*  #ID  */
#wrapper{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(0, 255, 255, 0.918);
}
#welcome{
    padding-left: 1em;
}
/*  .Class  */

/*  elements, tags  */
body{
    background-image: url("img/web.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
div{
    color: green;
    border: 1em;
    font-family: Courier New;
}
img{
    width:33%;
    float: left;
    margin: 1em;
}
h1{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    padding-top: .5em;
    padding-bottom: .5em;
    background-color: rgb(43, 228, 166);
    width: 100%;
}
h2{
    margin-left:1em;
    font-family: 'Courier New', Courier, monospace;
}
h4{
    text-align: center;
}
p{
    font-family: 'Courier New', Courier, monospace;
    line-height: 1.5em;
    font-weight: bold ;
    padding: 1em;
}
footer{
    background-color: rgb(82, 179, 82);
    padding: 1em;
}